:root{
    --dark-blue: #002B5B;
    --mid-blue: #2B4865;
    --tint-blue: #256D85;
    --menta: #8FE3CF;
}

* {
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

::-webkit-scrollbar {
    height: 5px;              
    width: 6px;    
              
}

::-webkit-scrollbar:vertical{
    display: none;
}

::-webkit-scrollbar-thumb:horizontal{
    background: #000;
    border-radius: 100%;
}

.center-div{
    display: flex;
    justify-content: center;
}

.row-div{
    align-items:center;
    display: inline-flex;
}

.shadow-img{
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.028),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.04),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.06),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.072),
    100px 100px 80px rgba(0, 0, 0, 0.1)
  ;
}

.shadow-text{
    text-shadow:
    0px 8.4px 4.2px rgba(0, 0, 0, 0.064),
    0px 17.4px 11.1px rgba(0, 0, 0, 0.097),
    0px 27.9px 22px rgba(0, 0, 0, 0.124),
    0px 42px 40.1px rgba(0, 0, 0, 0.147),
    0px 65.7px 72.8px rgba(0, 0, 0, 0.17),
    0px 135px 135px rgba(0, 0, 0, 0.2)
  ;
}

/* Footer Styling */

.footer-container{
    background-color: var(--dark-blue); /*Backgroung Color */
    padding: 2rem 0 4rem 0;
}

.footer{
    width: 80%;
    height: 40vh;
    background-color: var(--dark-blue); /*Backgroung Color */
    color: #fff; /*Title Font Color*/
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 1rem;
}

.footer-heading a{
    color: #fff; /*Options Font Color*/
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color: var(--menta); /*Options Hover Color*/
    transition: 0.3s ease-out;
}

.footer-email-form h2{
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    display: inline-block;
    margin-right: 0.7rem;
}

#footer-email::placeholder{
    color: var(--mid-blue); /*Email Box Text Color*/
}

#footer-email-bth{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--menta); /* Sign Up Background Color*/
    outline: none;
    border:none;
    color:var(--tint-blue); /*Sign Up Text Color*/
    font-size: 1rem;
    display: table;
    text-align: center;
}

#footer-email-bth:hover{
    cursor: pointer;
    background-color: var(--tint-blue); /*Sign Up Hover Color*/
    transition: all 0.4s ease-out;
    color:var(--menta);
}

#footer-email-bth div{
    display: table-cell;
    vertical-align: middle;
}

.social-media{
    margin-bottom: 5px;
}

.social-media img{
    width: 30px;
    height: 30px;
    padding-right: 5px;
    box-sizing: content-box;
}

@media screen and (max-width: 1150px) {
    .footer{
        height: 50vh;
    }

    .footer-email-form{
        margin-top: 4rem;
    }

}


@media screen and (max-width: 720px) {
    
    .footer-2{
        display: none;
    }

    .footer-email-form{
        margin-top: 2rem;
    }


}
/* ---------------end footer style--------------------- */