@import url('./../BaseCss.css');

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

td{
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}

#game-zone {
    direction: ltr;
}

#diffSelect {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    column-gap: 4px;
}

.apple{
    background-color: rgb(0, 255, 89);
}

.snake{
    background-color: rgb(255, 0, 0);
}

.area{
    background-color: rgb(39, 39, 39);
}
