@import url('./background.css');

:root {
    --dark-blue: #002B5B;
    --mid-blue: #2B4865;
    --tint-blue: #256D85;
    --menta: #8FE3CF;
}

* {
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

::-webkit-scrollbar {
    height: 5px;
    width: 6px;

}

::-webkit-scrollbar:vertical {
    display: none;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 100%;
}

.center-div {
    display: flex;
    justify-content: center;
}

.row-div {
    align-items: center;
    display: inline-flex;
}

.shadow-img {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.028),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.04),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.05),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.06),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.072),
        100px 100px 80px rgba(0, 0, 0, 0.1);
}

.shadow-text {
    text-shadow:
        0px 8.4px 4.2px rgba(0, 0, 0, 0.064),
        0px 17.4px 11.1px rgba(0, 0, 0, 0.097),
        0px 27.9px 22px rgba(0, 0, 0, 0.124),
        0px 42px 40.1px rgba(0, 0, 0, 0.147),
        0px 65.7px 72.8px rgba(0, 0, 0, 0.17),
        0px 135px 135px rgba(0, 0, 0, 0.2);
}

/* Top Bar Styling */

#top-bar {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

#logo {
  height: 50px;
  margin: 0 20px 0 20px;
}

#login-menu {
  display: none;
  align-items: center;
  margin-left: auto;
}

#login-menu img {
  height: auto;
  width: 100%;
  margin: 0 10px;
  cursor: pointer;
}

#user-menu {
  display: none;
  align-items: center;
  margin-left: auto;
}

#profile-picture {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

#user-menu-options {
  display: none;
  position: absolute;
  right: 10px;
  top: 50px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  z-index: 1;
}

#user-menu-options a, p {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

#sign-in{
  background-color: coral;
  margin-right: 1rem;
  height: 40px;
  width: 300px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

/* End of Top Bar styling */

/* Footer Styling*/

footer{
    margin-top: 3rem;
    font-size: 40px;
    color: #fff;
    height: 200px;
    background-color: #002B5B;
    text-align: center;
}


/* ---------------end footer style--------------------- */

iframe {
    width: 100%;
    max-height: 150%;
    overflow: auto;
}

