body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#diffSelect, #colorSelect {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    column-gap: 4px;
}

#board {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 10px solid navy;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Circle */
    background-color: white;
    border-radius: 50%;
    border: 5px solid navy;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

/* Style the button */
button#start-game-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }