main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

td{
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
}


.timer{
    font-size: 3rem;
}

#game-zone {
    direction: ltr;
}

#diffSelect {
    display: flex;
    justify-content: center;
    row-gap: 10px;
    column-gap: 4px;
}

.apple{
    background-color: rgb(0, 255, 89);
}

.snake{
    background-color: rgb(255, 0, 0);

}

.area{
    background-color: rgb(39, 39, 39);
    transition: all 1s linear;
}

#instructions{
    position: absolute;
    width: 650px;
    height: 650px;

}


.hidden{
    visibility: hidden;
}


#small-screen{
    visibility: hidden;
    position: fixed;
    z-index: 10;

  
}
@media screen and (max-width: 660px) {
    
    #small-screen{
        visibility: visible;
        position: absolute
    }
}
